@font-face{
  font-family: "Dancing Script";
  src:url(https://www.cssfontstack.com/Dancing-Script);
  font-weight: normal;
  font-style: normal;
}
h1{
  color: #55716D
  font-style:normal;
  text-align: center;

}
body{
  background-image:
   url(file:///tmp/mozilla_ahere0/abstract-art-black-background-1040499.jpg);
  background-size: 1300px;
}
p{
  font-family: sans-serif;
  color: #D6F4F0
}
ul{
  color: #D6F4F0
}
ol{
  color: #D6F4F0
}
h2{
  color: #55716D
}
h3{
  color:#55716D
}
