
h1{
  color: #55716D
  font-style:normal;
  text-align: center;

}
body{
  background-image:
   url(file:///home/ahere/Downloads/blurred-background-daylight-fog-1323208.jpg);
  background-size: 1300px;
}
p{
  font-family: sans-serif;
  color: #D6F4F0
}
ul{
  color: #D6F4F0
}
ol{
  color: #D6F4F0
}
h2{
  color: #384643
}
h3{
  color:#384643
}
p{
  text-align: center;
}
img{
border-radius: 20px;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h1{
  color: #053C37;
}
body {
    font-family: 'Cormorant Upright';font-size: 19.5px;
}

ul{
  text-align: center;
}
h1{
  text-align: center;
}
h2{
  text-align: center;
}
h3{
  text-align: center;
}
